<% if (log[0]) { %>
    <%- "<br><div style='color:rgba(255, 255, 255, 1); display:inline-block'>" + log[0] + "</div>" %>
<% } %>
<% if (log[1]) { %>
    <%- "<br><div style='color:rgba(255, 255, 255, 0.66); display:inline-block'>" + log[1] + "</div>" %>
<% } %>
<% if (log[2]) { %>
    <%- "<br><div style='color:rgba(255, 255, 255, 0.33); display:inline-block'>" + log[2] + "</div>" %>
<% } %>