<div class="loading box center-children">
    <div style="text-align:center">
        <div class="flammeIcon"></div>
        <br><br>
        Loading ROM...
        <br>
        <div id="loadingLog">

        </div>
    </div>
</div>