<div class="navbar" id="navbar">
    <div class="nbButton icon" id="nb-welcome">

    </div>

    <div class="nbButton center-children nbSelected" id="nb-textures">
        <div class="nbLabel">
            Textures
        </div>
    </div>

    <div class="nbButton center-children" id="nb-story">
        <div class="nbLabel">
            Story
        </div>
    </div>
    
    <div class="nbButton center-children" id="nb-frames">
        <div class="nbLabel">
            Frame Data
        </div>
    </div>

    <div class="nbButton center-children" id="nb-values">
        <div class="nbLabel">
            Values
        </div>
    </div>
    
    <div class="nbButton center-children" id="nb-asm">
        <div class="nbLabel">
            ASM Patches
        </div>
    </div>

    <div class="nbButton center-children" id="nb-gb">
        <div class="nbLabel">
            Get Mods
        </div>
    </div>

    <div class="nbButton center-children" id="nb-config">
        <div class="nbLabel">
            Configuration
        </div>
    </div>
</div>