<div class="textures">
    <div class="sidebar">
        <div class="info">
            <h2>Nothing selected.</h2>
        </div>

        <div class="list">
            Sonic
            <br>
            Knuckles
            <br>
            Tails
            <br>
            Shadow
            <br>
            Rouge
            <br>
            Amy
            <br>
            E-102
            <br>
            Cream
            <br>
            Chaos
            <br>
            Eggman
            <br>
            Menu
        </div>
    </div>
    <div class="viewport">
        <img src="test.png" id="currentSheet">
    </div>
</div>