<div class="center-children generic-fill">
    <div class="welcome">
        <img src="splash.png">

        <h1>Welcome to Flamme</h1>

        SBHAX on Discord: <a href="https://discord.gg/KGWgnAw">SBHAX</a>

        <br><br>

        Need help? Read the <a href="https://sbhax.github.io/flammedocs">Flamme documentation</a>!

        <br><br>

        Found a problem? Report it at our <a href="https://github.com/sbhax/flamme/issues">GitHub issues</a>!

        <br><br>

        Want to share a mod? Upload it to our <a href="https://gamebanana.com/games/6046">Gamebanana page</a>!
    </div>
</div>